{{!-- Load more button - Visible only if it's enabled in main.js --}}
<button id="load-posts" class="btn">Load more posts</button>

{{!-- Pagination --}}
<nav class="pagination" role="navigation">
	<div class="container">
	    {{#if prev}}
	        <a class="newer-posts" href="{{page_url prev}}"><b>Newer</b></a>
	    {{/if}}
	    <span class="page-number">{{page}} of {{pages}}</span>
	    {{#if next}}
	        <a class="older-posts" href="{{page_url next}}"><b>Older</b></a>
	    {{/if}}
	</div>
</nav>